<hr>
<div class="footer" style="bottom: 0px; height: 68px; width: 85%; background: #FFFFFF; margin: 0 auto">

  <div style="height: 16px; text-align: center;">
    Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2020 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT
  </div style="height: 55px; ">

  <center>
    <p>
      <br>
      This tool was developed as part of the Faze-In (Fire Haze monitoring in near-real time for Indonesia: Capacity building and prototyping)
      and TRANSFORM ( ) projects, with funding from the Newton Fund and Research England.
      <br>
    </p>
    <a href="https://re.ukri.org/">
      <img src="/static/logos/RE-logo.jpg" alt="Research England logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="https://www.newtonfund.ac.uk/">
      <img src="/static/logos/NF-logo.jpg" alt="Newton Fund logo" style="height:75px; width:auto; padding: 5px">
    </a>
    <a href="http://www.leeds.ac.uk/">
      <img src="/static/logos/Leeds-logo.jpg" alt="Leeds logo" style="height:75px; width:auto; padding: 5px">
    </a>
  </center>

  <center>
    <br>
    <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/privacy">Privacy</a>
    <br>
  </center>
</div>
