{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align:center; width:100%; display:block; margin:auto;">
<a href="/">
<img src="/static/logos/header-about.jpg" width="100%" height="auto" alt="" />
</a>
</div><!-- #branding -->
<div >
<p style="text-align: justify">
  Vegetation and peat fires occur frequently across much of SE Asia and are a major source of atmospheric pollution. 
  Air pollution is a serious environmental issue across the region, impacting public health, agriculture, forestry,
  trade, tourism and transportation. Air pollution from vegetation and peat fires exposes >70 million people to episodes
  of unhealthy air quality, causing thousands of premature deaths annually across SE Asia, with substantial economic costs.
  <br>
  The Faze-In fire haze tracking tool provides freely-available near real-time accessible and visual information on the
  distribution of fire haze across SE Asia. This is achieved through processing output from daily simulations using a
  Lagrangian transport model, using satellite-derived real-time fire emission data from across Indonesia and the wider region.
</p>
</div><!-- .entry-content -->
{% endblock %}
</html>
