{% extends 'layout.html.j2' %}

{% block body %}

<div style="text-align: center">
  <p>
    This online tool presents the backwards simulation of fire haze in indonesia, tracking PM2.5 back to its source [more accurate description once full use of tool is crystalised]</p>

  <p id=p1></p><br>
</div><!-- .entry-content -->
<img src onerror='init()'>
<div style="width:75%; margin: auto">
  <canvas id="mapCanvas" width="675" height="740"></canvas>
  <p id=p2></p>
</div>

<script>


function init() {

  var stage = new createjs.Stage("mapCanvas");
	stage.enableMouseOver();
	createjs.Touch.enable(stage);
	stage.mouseMoveOutside = true;

  var sheet = new Image();
  sheet.src = "/static/sprites/spritesheet.png";
  sheet.style.position = "absolute";
  sheet.style.left = -9999;             // Image width must not exceed 9999 pixels
  sheet.style.visibility = "hidden";    // Maybe you can remove this
  document.body.appendChild(sheet);
  var sheetHeight = sheet.naturalHeight;
  var sheetWidth = sheet.naturalWidth;
  var spriteDays = 6;//sheetHeight / 600;
  document.body.removeChild(sheet);     // Removes the image from the DOM (This does not destroy the image element)

  document.getElementById('p1').innerHTML = "Animation for the last "+spriteDays+" days";

  var spriteCount = 8 * spriteDays;

  var spriteData = new createjs.SpriteSheet({
    framerate:16,
    "images":["/static/sprites/spritesheet.png"],
    "frames": {"height": 600, "count": spriteCount, "width": 675},
    "animations":{
    }
  });

  var endOfSprite = spriteCount - 1;

  var animation = new createjs.Sprite(spriteData);

  stage.addChild(animation);
  stage.update();

  var slider = new Slider(0, endOfSprite, 675, 35).set({x: 0, y: 650, value: endOfSprite});
  stage.update();

  animation.gotoAndStop(slider.value);
  stage.update();
  document.getElementById('p2').innerHTML = "Current frame is "+animation.currentFrame+" and slider value is "+slider.value;
  stage.update();


  slider.on("change", function() {
    animation.gotoAndStop(slider.value);
    document.getElementById('p2').innerHTML = "Current frame is "+animation.currentFrame+" and slider value is "+slider.value;
    stage.update();
  });

	stage.addChild(slider);
	stage.update();

}

</script>
{% endblock %}
