{% extends 'layout.html.j2' %}

{% block body %}

<div style="text-align: center">
  <p>
    This tool displays simulated distributions of particulate matter PM2.5 pollution sourced from fire
    emissions in the Indonesia region. Information is available for the previous 6-day period, updated
    automatically. See “About” for further information on how these distributions are produced
  </p>

  <p id=p1></p><br>
</div><!-- .entry-content -->
<img src onerror='init()'>
<div style="width:75%; margin: auto">
  <canvas id="mapCanvas" width="675" height="740"></canvas>
  <p id=p2></p>
</div>
<p>
  This tool was developed as part of the Faze-In (Fire Haze monitoring in near-real time for Indonesia: Capacity building and prototyping) and TRANSFORM ( ) projects, with funding from the Newton Fund and Research England.
</p>

<script>

var stage, spriteCount, spriteDays, sheet, sheetHeight, sheetWidth;
var endOfSprite, spriteData, animation, slider

function init() {

  stage = new createjs.Stage("mapCanvas");
	stage.enableMouseOver();
	createjs.Touch.enable(stage);
	stage.mouseMoveOutside = true;

  sheet = new Image();
  sheet.src = "/static/sprites/spritesheet.png";
  sheet.style.position = "absolute";
  sheet.style.left = -9999;             // Image width must not exceed 9999 pixels
  sheet.style.visibility = "hidden";    // Maybe you can remove this
  document.body.appendChild(sheet);
  sheetHeight = sheet.naturalHeight;
  sheetWidth = sheet.naturalWidth;
  spriteDays = 6;//sheetHeight / 600;
  document.body.removeChild(sheet);     // Removes the image from the DOM (This does not destroy the image element)

  document.getElementById('p1').innerHTML = "Animation for the last "+spriteDays+" days";

  spriteCount = 8 * spriteDays;

  endOfSprite = spriteCount - 1;

  spriteData = new createjs.SpriteSheet({
    framerate:16,
    "images":["/static/sprites/spritesheet.png"],
    "frames": {"height": 600, "count": spriteCount, "width": 675},
		"animations": {
			"playall": [0, 47, "playall", 1.5],
		}
  });


  animation = new createjs.Sprite(spriteData, "playall");

  stage.addChild(animation);
  //stage.update();

  slider = new Slider(0, endOfSprite, 675, 35).set({x: 0, y: 650, value: 0});
  stage.update();

  animation.gotoAndPlay("playall");
  stage.update();
  //document.getElementById('p2').innerHTML = "Current frame is "+animation.currentFrame+" and slider value is "+slider.value;
  stage.update();


  slider.on("change", function() {
    animation.gotoAndStop(slider.value);
    //document.getElementById('p2').innerHTML = "Current frame is "+animation.currentFrame+" and slider value is "+slider.value;
    stage.update();
  });

	stage.addChild(slider);
	stage.update();

}

</script>
{% endblock %}
